**/.idea/*
!**/.idea/codeStyles/

**/*.iml
**/*.ipr
**/*.iws
**/*.bak
**/.flattened-pom.*
**/*.log

.project
.classpath
.settings
.metadata

Servers
test-output
.tern-project
.springBeans
.recommenders
**/target/*


.envrc
**/.DS_STORE


